<!DOCTYPE html>
<html lang="en">
  {{#> head }}
  {{> insuranceBranding }}
  {{/head}}
  <body onload="bxi.pageLoad()" class="bxi insurance dashboard">
    {{> variables}}
    <header class="bxi-header">
      <nav class="navbar navbar-expand-lg flex-wrap p-0">
        <div class="container py-2">
          <div class="bxi-nav">
            <a class="bxi-nav-toggle d-block d-lg-none" role="button">
              {{> hamburgerIcon }}
            </a>
            <ul class="bxi-nav-links bxi-bg-secondary">
              {{#each settings.header.links}}
              <li>
                <a class="bxi-link bxi-link-light--primary">{{this}}</a>
              </li>
              {{/each}}
            </ul>
            <a id="bxi-logo" class="navbar-brand py-0 ms-3 ms-lg-0">
              <img src="{{settings.images.logo}}" alt="Logo" />
            </a>
          </div>
          <div class="d-flex flex-row position-relative">
            <p id="username-container"
              class="bxi-color-primary fw-bold d-none d-sm-flex mb-0 me-2">{{settings.dashboard.username}}</p>
            <div class="bxi-user-icon d-flex d-lg-none bxi-bg-primary">
              {{> userIcon }}
            </div>
            <div class="d-none d-lg-flex static-user-icon">
              {{> userIcon }}
            </div>
            <div
              class="bxi-auth-buttons bxi-auth-buttons--secondary-link bxi-bg-primary pb-2 pb-lg-0 bxi-bg-lg-transparent">
              <button id="oidc-logout" onclick="bxi.logout()"
                class="bxi-button mb-1 mb-lg-0 fw-bold">Log Out</button>
            </div>
          </div>
        </div>
        <div class="bxi-bg-secondary w-100">
          <div class="container">
            <div class="bxi-navbar bxi-bg-secondary d-none d-lg-block bxi-zi-3">
              <ul
                class="navbar-nav p-2 pb-0 py-lg-3 px-lg-0 d-flex justify-content-between w-100">
                {{#each settings.header.links}}
                <li class="nav-item mb-2 mb-lg-0">
                  <a
                    class="bxi-link bxi-link-light--primary text-uppercase fs-7">{{this}}</a>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <section class="container my-3">
      <div class="row">
        <div
          class="col-12 col-md-3 col-xl-2 bxi-dashboard-sidebar mt-2 order-2 order-md-1">
          {{#each verticalAuthenticatedEndpoints }}
          <a class="bxi-button d-block text-center" href="{{this}}">{{@key}}</a>
          {{/each}}
          {{!-- See src/dashboard-buttons.hbs to update dashboard buttons --}}
          {{> dashboardButtons}}
        </div>
        <div class="col-12 col-md-9 col-xl-10 order-1 order-md-2">
          <div class="row mb-3">
            <h1
              class="bxi-color-secondary bxi-ff-secondary mt-4 mt-sm-0 fw-bold main-header">{{settings.dashboard.policies.header}}</h1>
          </div>
          <div class="row mb-4">
            <div class="col-12 col-md-6 d-flex flex-column">
              {{#if env.BXI_DASHBOARD_POLICY_ID}}
              <div class="mb-3 bxi-component-bg-color p-3" data-dv-flow="static"
                data-policy-id="{{env.BXI_DASHBOARD_POLICY_ID}}"></div>
              {{/if}}
              <div class="bxi-component-bg-color p-3 flex-grow-1">
                <h5
                  class="fw-bold mb-3 policies-header">{{settings.dashboard.policies.insurance.header}}</h5>
                {{#each settings.dashboard.policies.insurance.policies}}
                <div class="mb-4 text-center">
                  <h6 class="mb-0 bxi-color-primary">{{name}}</h6>
                  <p>{{description}}</p>
                </div>
                {{/each}}
              </div>
            </div>
            <div class="col-12 col-md-6">
              <h5
                class="fw-bold agent-header">{{settings.dashboard.policies.agent.header}}</h5>
              <div class="bxi-component-bg-color mb-4">
                <div class="d-flex flex-column flex-xl-row p-3">
                  <div class="bxi-agent-pic mb-3 mb-xl-0"><img
                      src="{{settings.dashboard.policies.agent.photo}}"
                      alt="Agent Profile Pic" /></div>
                  <div class="flex-grow-1 mb-3 mb-xl-0 ps-xl-3">
                    <h6
                      class="fw-bold agent-name">{{settings.dashboard.policies.agent.name}}</h6>
                    <div
                      class="fs-7 agent-title">{{settings.dashboard.policies.agent.title}}</div>
                    <div
                      class="fs-7 agent-agency">{{settings.dashboard.policies.agent.agency}}</div>
                    <div
                      class="fs-7 agent-license">{{settings.dashboard.policies.agent.license}}</div>
                  </div>
                  {{#if settings.dashboard.policies.agent.button}}
                  <button
                    class="bxi-button agent-button bxi-button--md align-self-start">{{settings.dashboard.policies.agent.button}}</button>
                  {{/if}}
                </div>
              </div>
              <h5
                class="fw-bold bxi-advertisement-header">{{settings.dashboard.policies.advertisement.header}}</h5>
              <div
                class="bxi-component-bg-color p-3 mb-4 bxi-advertisement-content">
                <p>{{settings.dashboard.policies.advertisement.description}}</p>
                <a
                  class="bxi-link">{{settings.dashboard.policies.advertisement.link}}</a>
              </div>
              <div class="bxi-bxf-logo">
                {{{inlineSvg settings.dashboard.policies.bxfinance.logo}}}
              </div>
              <div class="bxi-component-bg-color p-3 d-flex flex-column">
                <p
                  class="finance-description">{{settings.dashboard.policies.bxfinance.description}}</p>
                {{#if settings.dashboard.policies.bxfinance.button}}
                <button
                  class="bxi-button bxi-button--md finance-button align-self-end">{{settings.dashboard.policies.bxfinance.button}}</button>
                {{/if}}
              </div>
            </div>
          </div>
          <div class="row">
            {{#each settings.dashboard.coverage}}
            <div class="col-12 col-md-6 col-xl-3 mb-4">
              <div class="bxi-component-bg-color h-100">
                <h4
                  class="bxi-coverage-header d-flex align-items-center p-3"><span>{{{inlineSvg
                    icon}}}</span><div
                    class="text-center flex-grow-1">{{title}}</div></h4>
                <div class="p-3">
                  {{#each bullets}}
                  <div class="mb-3">
                    <div>{{text}}</div>
                    {{#if subtext}}
                    <div class="fs-8 fw-light text-end">{{subtext}}</div>
                    {{/if}}
                  </div>
                  {{/each}}
                  {{#each links}}
                  <a
                    class="bxi-link bxi-link--secondary mb-2 d-block">{{this}}</a>
                  {{/each}}
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </section>
    <footer class="bxi-footer pt-5">
      <div class="container">
        <div class="d-block d-lg-flex justify-content-between mb-sm-3 mb-4">
          <ul class="d-none d-md-flex mb-4 p-0 ls-none">
            {{#each settings.footer.links }}
            <li class="me-4"><a
                class="bxi-link bxi-link-light--primary text-nowrap">{{this}}</a></li>
            {{/each}}
          </ul>
          <div
            class="footer-contacts d-flex flex-column-reverse flex-md-row justify-content-start align-items-center align-items-md-start justify-content-md-between justify-content-lg-end">
            <div class="footer-support me-0 me-lg-4">
              <div
                class="text-center text-md-start mb-3 fw-bold fs-5 footer-phone-number">{{settings.footer.phone_number}}</div>
              <button
                class="bxi-button bxi-button--outline fs-8 bxi-button--lg text-nowrap">Online
                support</button>
            </div>
            <div class="ms-0 ms-md-3">
              <div
                class="ms-0 mb-3 text-center text-md-start fw-bold fs-5">Follow
                us:</div>
              <ul class="d-flex align-items-center ls-none ps-0">
                <li>
                  <button
                    class="bxi-button bxi-button--outline bxi-button--icon bxi-button--md me-md-3 me-5">
                    {{> facebookIcon }}
                  </button>
                </li>
                <li>
                  <button
                    class="bxi-button bxi-button--outline bxi-button--icon bxi-button--md me-md-3 me-5">
                    {{> twitterIcon }}
                  </button>
                </li>
                <li>
                  <button
                    class="bxi-button bxi-button--outline bxi-button--icon bxi-button--md">
                    {{> instagramIcon }}
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <section class="bxi-footer bxi-bg-secondary pb-4">
      <div class="container">
        <p
          class="fs-8 m-0 text-center text-md-start bxi-copyright-color">{{settings.footer.copyright}}</p>
        {{> remix }}
      </div>
    </section>
    {{> modal}}
  </body>
</html>