<!DOCTYPE html>
<html lang="en">
  {{#> head }}
    <style>
      :root {
        --bxi-primary-font: {{{theme.primaryFont}}};
        --bxi-secondary-font: {{{theme.secondaryFont}}};
        --bxi-primary-color: {{theme.primaryColor}};
        --bxi-secondary-color: {{theme.secondaryColor}};
        --bxi-button-color: {{theme.buttonColor}};
        --bxi-button-bg-color: {{theme.buttonBgColor}};
        --bxi-button-bg-hover-color: {{theme.buttonBgHoverColor}};
        --bxi-link-button-color: {{theme.linkButtonColor}};
        --bxi-link-button-hover-color: {{theme.linkButtonHoverColor}};
        --bxi-generic-banner-color: {{theme.bannerColor}};
      }
    </style>
  {{/head}}
  <body class="bxi generic home">
    {{> variables}}
    <header class="masthead" style="background-image: url('https://cdn.glitch.me/e527ecf6-cfaf-462c-9a0f-da0c77633414%2Fhome-bg.jpg?v=1636660805462')">
      <nav class="navbar navbar-expand position-absolute top-0">
        <div class="container mt-4">
          <div>
            <ul class="bxi-auth-buttons bxi-auth-buttons--link navbar-nav ms-auto py-4 py-lg-0">
              {{!-- See src/home-nav-buttons.hbs to update auth buttons --}}
              {{> homeNavButtons}}
            </ul>
          </div>
        </div>
      </nav>
      <div class="container position-relative px-4">
        <div class="justify-content-center">
          <div class="text-center">
            <h1 class="heading">{{settings.heading}}</h1>
            <span class="fs-3 fw-bold subheading">{{settings.sub_heading}}</span>
          </div>
        </div>
      </div>
    </header>
    <div class="container p-4">
      <div class="justify-content-center text-center">
        <div data-dv-flow="static" data-policy-id="{{env.BXI_GENERIC_POLICY_ID}}"></div>
        <hr class="my-4" />
      </div>
    </div>
    {{> remix}}
    {{> modal}}
  </body>
</html>
